@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

#root {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  font-family: 'Lexend Deca',sans-serif;
}

.single-card1{
  background-color: hsl(31, 77%, 52%);
  padding: 2%;
}
.card-logo1{
  background-color: transparent;
}

.single-card2{
  background-color: hsl(184, 100%, 22%);
  padding: 2%;
}

.single-card3{
  background-color: hsl(179, 100%, 13%);
  padding: 2%;
}

.btn{
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  margin-top: 50px;
}
